* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    background-color: lavender;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: auto;
}

header nav ul li {
    padding: 0 10px;
}

header a {
    text-decoration: underline;
    color: #8a2be2;
}

body h1, body h2, body h3, body h4, body p {
    margin-top: 2%;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    padding: 0;
    list-style: none;
    margin-top: 2%;
    font-size: 1.25rem;
}

footer p {
    line-height: 10px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ff00ff;
    color: #000000;
    border: none;
}

.button:hover {
    background-color: #FF00FF;
    color: #FFFFFF;
}

#intro, #about, #contact, #media {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh; /* Ensure sections take full viewport height */
}

#intro {
    background-image: url("../Media/Images/Mandala.jpg");
    background-repeat: round;
}

#about {
    background-color: bisque;
    background-image: url("../Media/Images/Mandala.jpg");
    background-repeat: round;
}

#contact {
    background-color: blanchedalmond;
}

#media {
    background-image: url("../Media/Images/Cover.jpeg");
}

@media (max-width: 768px) {
    .container img {
        width: 100%;
        height: auto;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        padding: 5px 0;
    }
}